[submodule "libssl-openbsd"]
	path = libssl-openbsd
	url = https://github.com/busterb/libssl-openbsd.git
[submodule "libcrypto-openbsd"]
	path = libcrypto-openbsd
	url = https://github.com/busterb/libcrypto-openbsd.git
[submodule "libcrypto-regress-openbsd"]
	path = libcrypto-regress-openbsd
	url = https://github.com/busterb/libcrypto-regress-openbsd.git
[submodule "libottery"]
	path = libottery
	ignore = dirty
	url = https://github.com/nmathewson/libottery.git
